/* Contenedor principal del formulario */
.pqr-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Contenedor del formulario y el logo */
.pqr-form-wrapper {
  display: flex;
  max-width: 900px;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
  align-items: center;
}

/* Contenido del formulario */
.pqr-form-content {
  flex: 2;
  min-width: 300px;
}

/* Estilos del logo */
.pqr-form-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pqr-logo-image {
  max-width: 150px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Títulos */
.pqr-form-title {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.pqr-form-subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}


/* Estilos del formulario */
.pqr-custom-form {
  display: flex;
  flex-direction: column;
}

.pqr-form-group {
  margin-bottom: 15px;
}

.pqr-form-label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.pqr-form-input,
.pqr-form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.pqr-form-input:focus,
.pqr-form-textarea:focus {
  outline: none;
  border-color: #007bff;
}

.pqr-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Botón de envío */
.pqr-form-button {
  width: 100%;
  padding: 10px;
  background-color: #A4F573;
  color: #333;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.pqr-form-button:hover {
  background-color: #7CCF53;
}

/* Responsividad */
@media (max-width: 768px) {
  .pqr-form-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .pqr-form-logo {
    margin-top: 20px;
  }

  .pqr-logo-image {
    max-width: 100px;
  }

  /* Contenedor del título */
.pqr-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Título del formulario */
.pqr-form-title {
  font-size: 24px;
  color: #333;
  margin: 0;
}

/* Subtítulo del formulario */
.pqr-form-subtitle {
  font-size: 16px;
  color: #666;
  margin: 5px 0 20px 0;
}

}
