/* Contenedor principal */
.pqr-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
  min-height: 100vh; 
  background-image: url('../assets/imagenPQR.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box; 
  overflow: auto;
}

/* Contenedor del formulario */
.pqr-form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 80%; 
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
  box-sizing: border-box; 
  position: relative; 
  z-index: 1;
}

/* Título y subtítulo */
.pqr-header {
  text-align: center;
  margin-bottom: 20px;
}

.pqr-form-title {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -25px;
}

.pqr-form-subtitle {
  color: #000000;
  font-size: 16px;
  font-weight: 450;
}

/* Contenedor del contenido principal (formulario y logo) */
.pqr-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; 
}

/* Formulario */
.pqr-custom-form {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.pqr-form-group {
  margin-bottom: 20px;
}

.pqr-form-label {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}

.pqr-form-label1 {
  display: block;
  color: #000000;
  font-weight: bold;
  margin-bottom: -10px;
}

.pqr-form-input, .pqr-form-textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.pqr-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Botón de envío */
.pqr-form-button {
  width: 100%;
  padding: 12px;
  background-color: #8dec51;
  color: #000000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.pqr-form-button:hover {
  background-color: #7CCF53;
}

/* Contenedor del logo */
.pqr-form-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

/* Imagen del logo */
.pqr-logo-image {
  max-width: 160px;
  height: auto;
  border-radius: 50%;
}

/* Responsividad */
@media (max-width: 768px) {
  .pqr-form-wrapper {
    width: 90%; 
    padding: 15px;
  }

  .pqr-content {
    flex-direction: column; 
    align-items: center;
  }

  .pqr-form-group {
    width: 100%; 
  }

  .pqr-logo-image {
    max-width: 120px; 
  }

  .pqr-form-button {
    font-size: 14px; 
  }
}

@media (max-width: 480px) {
  .pqr-form-title {
    font-size: 24px; 
  }

  .pqr-form-subtitle {
    font-size: 14px; 
  }

  .pqr-form-logo {
    margin-top: 10px; 
  }
}

.pqr-form-textarea {
  resize: none;
  height: auto; 
}
